#drawFlow-container {
  background: #FFFFFF;
  background-size: 20px 20px;
  background-image: linear-gradient(to bottom, rgb(232, 234, 246, 1) 1px, transparent 1px), linear-gradient(to right, rgb(232, 234, 246, 1) 1px, transparent 1px);
  width: 100%;
  height: 75vh;
  border: 1px solid black;
}

.parent-drawflow {
  display: flex;
  overflow: hidden;
  touch-action: none;
  outline: none;
}

.drawflow {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  perspective: 0;
}

.drawflow .parent-node {
  position: relative;

}

.drawflow .drawflow-node {
  display: flex;
  align-items: center;
  position: absolute;
  background: #FAFAFA;
  width: 160px;
  min-height: 40px;
  border-radius: 4px;
  border: 2px solid black;
  color: black;
  z-index: 2;
  padding: 15px;
}


.drawflow .formulario {
  display: flex;
  align-items: center;
  position: absolute;
  width: 160px;
  min-height: 70px;
  border-radius: 4px;
  border: 2px solid #4fa6ff;
  background: #f1faff;
  color: #4fa6ff;
  text-align: center;
  font-weight: bold;
  z-index: 2;
  padding: 15px;
}

.drawflow .interoperabilidad {
  display: flex;
  align-items: center;
  position: absolute;
  width: 160px;
  min-height: 70px;
  border-radius: 4px;
  border: 2px solid #41c89f;
  background: #e8fff3;
  color: #41c89f;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding: 15px;
}


.drawflow .inicio {
  display: flex;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  background: #0bb783;
  color: white;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding: 15px;
}

.drawflow .fin {
  display: flex;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  background: #f97987;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding: 15px;
}

.drawflow .decision {
  display: flex;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotateZ(45deg);
  border: 1px solid #ffb82d;
  background: #fff8dd;
  font-weight: bold;
  text-align: center;
  color: #ffb82d;
  z-index: 2;
  padding: 15px;
}

.rotate-reverse {
  transform: rotateZ(-45deg);
}

.drawflow .drawflow-node.selected {
  /* background: #FAFAFA; */
  border-style: dashed;
}

.drawflow .drawflow-node:hover {
  cursor: move;
}

.drawflow .drawflow-node .inputs,
.drawflow .drawflow-node .outputs {
  width: 0px;
}

.drawflow .drawflow-node .drawflow_content_node {
  width: 100%;
  text-align: center !important;
  display: block;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  position: relative;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  border: 0.5px solid black;
  cursor: crosshair;
  z-index: 1;
  margin-bottom: 5px;
}

.drawflow .drawflow-node .input {
  left: -23px;
  top: 1px;
  background: #42A5F5;
}

.drawflow .drawflow-node .output {
  right: -7px;
  top: 3px;
  background-color: #0bb783;
}

.drawflow svg {
  z-index: 0;
  position: absolute;
  overflow: visible !important;
}

.drawflow .connection {
  position: absolute;
  pointer-events: none;
}

.drawflow .connection .main-path {
  fill: none;
  stroke-width: 3px;
  stroke: steelblue;
  pointer-events: all;
}

.drawflow .connection .main-path:hover {
  stroke: #1266ab;
  cursor: pointer;
}

.drawflow .connection .main-path.selected {
  stroke: #43b993;
}

.drawflow .connection .point {
  cursor: move;
  stroke: black;
  stroke-width: 2;
  fill: white;
  pointer-events: all;
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #FAFAFA;
}

.drawflow .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
}

.drawflow-delete {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: #EF5350;
  color: white;
  z-index: 4;
  border: 2px solid white;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.drawflow>.drawflow-delete {
  margin-left: -15px;
  margin-top: 15px;
}

.parent-node .drawflow-delete {
  right: -15px;
  top: -15px;
}

/* DESDE ACA */


.drawflow .drawflow-node .output_2 {
  background: #E53935 !important;
}

.drawflow .connection.output_2 .main-path {
  stroke-dasharray: 3;
  stroke: #E53935;
}

.drawflow .drawflow-node .output_3 {
  background: #ffb83e !important;
}

.drawflow .connection.output_3 .main-path {
  stroke-dasharray: 0;
  stroke: #ffb83e;
}

.drawflow .connection.output_3 .main-path.selected {
  stroke: #43b993;
}



.drawflow .connection .point {
  cursor: move;
  stroke: black;
  stroke-width: 2;
  fill: white;
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #1266ab;
}

.oculto {
  display: none;
}

.posicion_si {
  margin-top: -0px;
  transform: translate(-77px, -30px);
}

.posicion_no {
  margin-top: -0px;
  transform: translate(-0px, 28px);
}


.posicion_input {
  margin-top: -0px;
  transform: translate(0px, 40px);
}
