<template>
  <q-page class="q-pa-md">
    <div class="row q-col-gutter-md " style="height:100%;">
      <div class="col-xs-12 q-gutter-md text-right">
        <q-btn outline label="Inicio" color="teal-6" icon="radio_button_checked" data-node="inicio" draggable="true"
          :ondragstart="drag" />
        <q-btn outline label="Fin" color="negative" icon="radio_button_checked" data-node="fin" draggable="true"
          :ondragstart="drag" />
        <q-btn outline label="Formulario" color="light-blue-9" icon="post_add" data-node="formulario" draggable="true"
          :ondragstart="drag" />
        <q-btn outline label="Interoperabilidad" color="green-5" icon="cloud_upload" data-node="interoperabilidad"
          draggable="true" :ondragstart="drag" />
        <q-btn outline label="Decision" color="amber-8" icon="alt_route" data-node="decision" draggable="true"
          :ondragstart="drag" />
        <q-btn round size="lg" flat icon="zoom_in" color="positive" @click="zoomIn" />
        <q-btn round size="lg" flat icon="search" color="primary" @click="zoomReset" />
        <q-btn round size="lg" flat icon="zoom_out" color="negative" @click="zoomOut" />
      </div>
    </div>
    <q-btn @click="exportar">Exportar</q-btn>
    <q-layout view="hHh Lpr lff" container style="height: 100vh" class="shadow-2 rounded-borders">
      <q-drawer side="right" v-model="drawerRight" bordered :width="350" :breakpoint="500">
          <q-toolbar class="bg-light-blue-10 text-white">
            <q-btn flat dense round icon="settings" aria-label="Menu" />
            <q-toolbar-title>
              Propiedades
            </q-toolbar-title>
          </q-toolbar>
          <div class="row">
            <Propiedades class="col-xs-12" v-if="nodoActual" v-model:configuracion="nodoActual"/>
          </div>
          <!-- <pre>{{ nodoActual }}</pre> -->
      </q-drawer>
      <q-page-container>
        <div class="col-xs-12 fit" style="height:100%;">
          <div id="drawFlow-container" :ondrop="drop" :ondragover="allowDrop"></div>
        </div>
      </q-page-container>
    </q-layout>
  </q-page>
</template>

<script>
import { h, getCurrentInstance, render, onMounted, ref, watch } from 'vue'
const Vue = { version: 3, h, render }
import Drawflow from '../common/drawflow/drawflow'
import Propiedades from 'components/Diagramador/Propiedades'
export default {
  components: {
    Propiedades
  },
  setup () {
    let editor = {}
    const idNodoActual = ref(null)
    const drawerRight = ref(false)
    const nodoActual = ref(null)

    watch(() => ({ ...nodoActual.value }), (value) => {
      editor.updateNameFromId(value.id, value.html)
      editor.updateNodeDataFromId(value.id, value.data)
    })

    onMounted(() => {
      const id = document.getElementById('drawFlow-container')
      const internalInstance = getCurrentInstance()
      editor = new Drawflow(id, Vue, internalInstance.appContext.app._context)

      editor.editor_mode = 'edit'
      editor.useuuid = true
      editor.reroute = true
      editor.reroute_curvature = 0
      editor.start()
      editor.import({ drawflow: { Home: { data: { '8e074fbf-4d30-4f6c-8ea9-d778b89e3b49': { id: '8e074fbf-4d30-4f6c-8ea9-d778b89e3b49', name: 'inicio', data: { type: 'inicio', acciones: {} }, class: 'inicio', html: 'inicio del tramite', typenode: false, inputs: {}, outputs: { output_1: { connections: [{ node: 'd7774857-ed13-4a51-8d0b-bb498ab26891', output: 'input_1' }] } }, pos_x: 42, pos_y: 134 }, 'd7774857-ed13-4a51-8d0b-bb498ab26891': { id: 'd7774857-ed13-4a51-8d0b-bb498ab26891', name: 'formulario', data: { type: 'formulario', acciones: { notificacion: false, firmaDigital: true, aprobacionCiudadania: false, derivacionSeleccion: true }, formularios: 1 }, class: 'formulario', html: 'Formularo del primer paso', typenode: false, inputs: { input_1: { connections: [{ node: '8e074fbf-4d30-4f6c-8ea9-d778b89e3b49', input: 'output_1' }, { node: 'edd81587-5229-4793-9f1e-b48028abe113', input: 'output_2' }] } }, outputs: { output_1: { connections: [{ node: '3c141feb-e176-4372-9078-8701278de0fa', output: 'input_1' }] }, output_2: { connections: [] } }, pos_x: 146, pos_y: 209 }, '3c141feb-e176-4372-9078-8701278de0fa': { id: '3c141feb-e176-4372-9078-8701278de0fa', name: 'formulario', data: { type: 'formulario', acciones: { notificacion: true, firmaDigital: true, aprobacionCiudadania: false, derivacionSeleccion: false }, formularios: 2 }, class: 'formulario', html: 'algun otro formulario sin importancia', typenode: false, inputs: { input_1: { connections: [{ node: 'd7774857-ed13-4a51-8d0b-bb498ab26891', input: 'output_1' }] } }, outputs: { output_1: { connections: [{ node: 'edd81587-5229-4793-9f1e-b48028abe113', output: 'input_1' }] }, output_2: { connections: [] } }, pos_x: 360, pos_y: 216 }, 'edd81587-5229-4793-9f1e-b48028abe113': { id: 'edd81587-5229-4793-9f1e-b48028abe113', name: 'interoperabilidad', data: { type: 'interoperabildiad', acciones: {} }, class: 'interoperabilidad', html: 'IOP CAMBIADA', typenode: false, inputs: { input_1: { connections: [{ node: '3c141feb-e176-4372-9078-8701278de0fa', input: 'output_1' }] } }, outputs: { output_1: { connections: [{ node: 'a0715bde-40f4-4654-b995-977bc0446487', output: 'input_1' }] }, output_2: { connections: [{ node: 'd7774857-ed13-4a51-8d0b-bb498ab26891', output: 'input_1', points: [{ pos_x: 468.89930486679077, pos_y: 107.90275573730469 }] }] } }, pos_x: 596, pos_y: 226 }, 'a0715bde-40f4-4654-b995-977bc0446487': { id: 'a0715bde-40f4-4654-b995-977bc0446487', name: 'fin', data: { type: 'fin', acciones: {} }, class: 'fin', html: 'Fin del tramite', typenode: false, inputs: { input_1: { connections: [{ node: 'edd81587-5229-4793-9f1e-b48028abe113', input: 'output_1' }] } }, outputs: {}, pos_x: 796, pos_y: 218 } } } } })

      // Events!
      editor.on('nodeCreated', (id) => {
        drawerRight.value = true

        console.log('Node created ' + id)
        nodoActual.value = editor.getNodeFromId(id)
      })

      editor.on('nodeSelected', function (id) {
        drawerRight.value = true
        idNodoActual.value = id
        nodoActual.value = editor.getNodeFromId(id)
        console.log('Node selected ' + id)
      })

      editor.on('nodeMoved', function (id) {
        console.log('Node moved ' + id)
        nodoActual.value = editor.getNodeFromId(id)
      })

      editor.on('nodeUnselected', function (id) {
        // drawerRight.value = false
      })
      /* DRAG EVENT */

      const elements = document.getElementsByClassName('drag-drawflow')
      for (let i = 0; i < elements.length; i++) {
        elements[i].addEventListener('touchend', drop, false)
        elements[i].addEventListener('touchmove', positionMobile, false)
        elements[i].addEventListener('touchstart', drag, false)
      }
    })

    let mobileItemSelec = ''
    let mobileLastMove = null
    function positionMobile (ev) {
      mobileLastMove = ev
    }

    const drag = (ev) => {
      if (ev.type === 'touchstart') {
        mobileItemSelec = ev.target.closest('.drag-drawflow').getAttribute('data-node')
      } else {
        ev.dataTransfer.setData('node', ev.target.getAttribute('data-node'))
      }
    }

    const drop = (ev) => {
      if (ev.type === 'touchend') {
        const parentdrawflow = document.elementFromPoint(mobileLastMove.touches[0].clientX, mobileLastMove.touches[0].clientY).closest('#drawflow')
        if (parentdrawflow != null) {
          addNodeToDrawFlow(mobileItemSelec, mobileLastMove.touches[0].clientX, mobileLastMove.touches[0].clientY)
        }
        mobileItemSelec = ''
      } else {
        ev.preventDefault()
        const data = ev.dataTransfer.getData('node')
        addNodeToDrawFlow(data, ev.clientX, ev.clientY)
      }
    }

    function addNodeToDrawFlow (name, posX, posY) {
      if (editor.editor_mode === 'fixed') {
        return false
      }
      posX = posX * (editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)) - (editor.precanvas.getBoundingClientRect().x * (editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)))
      posY = posY * (editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)) - (editor.precanvas.getBoundingClientRect().y * (editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)))

      let nodo = { template: 'inicio', inputs: 0, outputs: 1, posX, posY, data: { type: 'inicio', acciones: {} } }

      if (name === 'formulario') nodo = { ...nodo, template: 'Formulario', inputs: 1, outputs: 2, data: { type: 'formulario', acciones: {} } }
      if (name === 'decision') nodo = { ...nodo, template: 'Decision', inputs: 1, outputs: 3, data: { type: 'decision', acciones: {} } }
      if (name === 'interoperabilidad') nodo = { ...nodo, template: 'Interoperabilidad', inputs: 1, outputs: 2, data: { type: 'interoperabildiad', acciones: {} } }
      if (name === 'fin') nodo = { ...nodo, template: 'Fin', inputs: 1, outputs: 0, data: { type: 'fin', acciones: {} } }

      editor.addNode(name, nodo.inputs, nodo.outputs, posX, posY, name, nodo.data, nodo.template)
    }

    const allowDrop = (ev) => {
      ev.preventDefault()
    }

    return {
      zoomIn () {
        editor.zoom_in()
      },
      zoomOut () {
        editor.zoom_out()
      },
      zoomReset () {
        editor.zoom_reset()
      },
      nodoActual,
      drag,
      drop,
      allowDrop,
      drawerRight,
      exportar () {
        const data = editor.export()
        console.log('====================_MENSAJE_A_MOSTRARSE_====================')
        console.log(JSON.stringify(data))
        console.log('====================_MENSAJE_A_MOSTRARSE_====================')
      }
    }
  }
}
</script>

<style lang="scss">
@import url('../common/drawflow/drawflow.css');
</style>
