<template>
  <div class="q-pa-sm">
    <div class="row q-col-gutter-sm">
      <q-input class="col-xs-12" filled label="Nombre" v-model="configuracionModel.html" />
      <q-select v-if="['formulario'].includes(configuracion.data.type)" label="Formulario" class="col-xs-12" filled
        clearable :options="formularios" v-model="configuracionModel.data.formularios" emit-value map-options />

      <q-list dense class="col-xs-12 no-padding" v-if="['formulario'].includes(configuracion.data.type)">
        <q-item-label header>Acciones</q-item-label>

        <q-item tag="label" v-ripple>
          <q-item-section side top>
            <q-checkbox v-model="configuracionModel.data.acciones.firmaDigital" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Firma digital</q-item-label>
          </q-item-section>
        </q-item>

        <q-item tag="label" v-ripple>
          <q-item-section side top>
            <q-checkbox v-model="configuracionModel.data.acciones.notificacion" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Notificacion</q-item-label>
          </q-item-section>
        </q-item>

        <q-item tag="label" v-ripple>
          <q-item-section side top>
            <q-checkbox v-model="configuracionModel.data.acciones.aprobacionCiudadania" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Aprobacion por cudadania</q-item-label>
          </q-item-section>
        </q-item>

          <q-item tag="label" v-ripple>
          <q-item-section side top>
            <q-checkbox v-model="configuracionModel.data.acciones.derivacionSeleccion" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Derivacion por seleccion</q-item-label>
          </q-item-section>
        </q-item>

      </q-list>

    </div>
  </div>
</template>
<script>
import { useVModel } from 'src/composables/useVmodel'
const formularios = [
  {
    label: 'Formulario de datos personales.',
    value: 1
  },
  {
    label: 'Formulario de datos de representant legal.',
    value: 2
  }
]
export default {
  props: {
    configuracion: {
      type: Object,
      default: () => ({})
    }
  },
  setup (props) {
    const configuracionModel = useVModel(props, 'configuracion')

    return {
      formularios,
      configuracionModel
    }
  }
}
</script>
